@keyframes floatText{
from {
  left: 12%;
}
to {
  left: auto;
  left: 78%;
}
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(720deg);
  }
}


@keyframes blackWhite {  
  0% { color: white; }
  50% { color: rgb(241, 8, 8); }
  75% { color: rgb(13, 240, 100); }
  100% { color: black; }
}


@keyframes blinker {  
  
  0% { color: rgb(13, 240, 100) }
  25% { color: rgb(118, 250, 184)}
  50% { color: rgb(13, 240, 100); }
  75% { color: rgb(118, 250, 184)}
  100% { color: rgb(13, 240, 100);}
 
}

.signUpBlinker {
  animation: blinker 2.5s;
  animation-iteration-count: 2;
}

.customhead {
  text-align: center;
  white-space: nowrap;
  animation: rotate 1s infinite alternate ease-in-out, blackWhite 1s;
  animation-iteration-count: 2;
  margin-top: 5px;
  color: azure;
}

.bagGrund{

  background: linear-gradient(
    to left,
    #ffffff,
    #1b96d3 10%,
    #9dd3ef 20%,
    #9dd3ef 70%,
    #1b96d3 90%,
    #ffffffed 100%
  );
  height: 1200px ;
  min-width: 500px;
}



