

.deleteDiv{

    text-align: center;
   
      
  }
  
  .openModalbtn {
      background-color: #cf1616;
  }
  
  .closeModalbtn{
  background-color: rgb(14, 216, 243);
  margin-top: 25px;
  width: 50px;
  }
  
  .deletebtn{
      background-color: rgb(243, 35, 35);
      margin-top: 25px;
      width: 50px;
  }
  
  .modalh4{
      padding-top: 15px;
  }
  
  .modal {
      display: none;
      position: fixed;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.25);
    }
  
    .modal_content {
      margin-top: 250px;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      height: 150px;
      background: linear-gradient(
          to left,
          #ffffff,
          #b4ddf1 10%,
          #9dd3ef 20%,
          #9dd3ef 70%,
          #b4ddf1 90%,
          #ffffffed 100%
        );
    }