.homegreading {
    text-align: center;
}

.centerTable {
    text-align: center;
  margin-left: 9%;
}

.headingCenterbutton{
    align-content: center;
    margin-bottom: 10px;
    background-color: red;
}
.headingCenter{
    text-align: center;
}