.customUserCard{
    background: rgb(173, 172, 172) ;
    border: 1px solid black;
    margin: 10px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .customUsertoAssistCard{
      text-align: center;
    background: rgb(173, 172, 172) ;
    border: 1px solid black;
    margin: 10px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }